@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie","New",new { }, new { @class = "btn btn-primary"})
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Name, "Edit", new { id = @item.Id }, new { })</td>
                    <td>@item.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p>We don't have any movies yet!</p>
}