@model IEnumerable<Vidly.Models.Customer>
@{ 
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer", "New", new { }, new { @class = "btn btn-primary" })
<br />
<br />
@if (@Model.Count() > 0)
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Name, "Edit", new { id = @item.Id }, new { })</td>
                    <td>@item.MembershipType.Name </td>
                    <td>
                        <button data-customer-id="@item.Id" class="btn btn-danger btn-sm js-button">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{

    <p>We donn't have any customer yet!</p>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#customers .js-button").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure that you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}